@import url('http://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20879');
body{
    /* width: 1445px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gilroy-Bold";
     
}

header {
    width: 100%;
    max-width: 940px;
    
}
h3 {
text-align: center;    
}

html {
    scroll-behavior: smooth;
    }
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 88px;
    /* margin: 0 auto; */
    border-bottom: 1px solid #000000;
    padding: 32px 0;   
}
/* a:link {
    color: #265301;
  } */
  a:visited {
    color: #828282;
  }  
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-block {
    
    width: 100%;
    max-width: 940px;
    display: grid;
    justify-content: center;
    grid-template-columns:1fr 1fr;
    
    
}
.name {
    /* width: 100% */
    /* height: 118px;S */
   
    /* padding: 20px 20px 20px 0; */
    /* position: absolute;
    left: 17.37%;
    right: 74.08%;
    top: 2.69%;
    bottom: 94.82%; */
    
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    padding: 40px 0 30px 0;
    
}
 /* .last-name {
   font-size: small;
}
.name-bio {
    font-size: x-large;   
}  */
.info {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    padding: 94px 0 48px 0;

}
.photo-me { 
   

    /* height: 388px; */
    grid-column: 1/3;
    margin-bottom: 50px;
   
}
.about-me {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    /* max-width: 940px; */
    padding: 60px 0;
    background-color: #edf1f3;
    font-size: 18px;
    line-height: 22px;
    
    ;
    
}
.about-me-text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
}
.experians {
    margin: 20px;
}
.skill-text {
    padding: 20px 0 0 0;
}
.logo-skills {
    width: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    
    justify-content:space-between;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
    line-height: 22px;
    
}
.figma-img {
    width: 58.25px;
    height: 88.99px;
}
.vs-code-img {
    width: 89px;
    height: 89px;
}
.windows-img {
    width: 88px;
    height: 88px;
}
.keks-img {
    width: 88px;
    height: 88px;
}
figcaption{
    text-align: center;
}
.contacts{
    padding:10px;
}
.contacts-logo{
    width: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    gap: 62px;
    padding: 30px 0 ;

}
.logo-instagram {
    width: 40.17px;
    height: 40.06px;
}
.logo-telegram{
    width: 40.17px;
    height: 40.06px;
}
.logo-git-hub {
    width: 40.17px;
    height: 40.06px;
} 
footer{
    background-color: #edf1f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    
}